* {
    margin: 0;
    padding: 0;
}
 
h1 {
    color: blueviolet;
    text-align: center;
    margin-left: 150px;
}
 
/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: 45px;
    min-height: 400px;
    border: 2px solid red;
} */
 
table
{
    /* text-align: center; */
    margin-left: 450px;
    border: solid black 5px;
}
 
tr {
    padding: 33px;
    border: 1px;
 
}
th{
    padding: 22px;
    border: 1px;
}
td{
    padding: 22px;
    border: 1px;
 
}
 
#SubmitBtn
{
    padding: 3px;
    background-color: rgb(255, 0, 0);
    width: 15vh;
    height: 5vh;
    border-radius: 10px;
    text-align: center;
    margin: auto auto;
    color: white;
}
#SubmitBtn:hover{
    cursor: pointer;
    transition: ease-in-out 2s ;
}