

<!-- <nav>
  <ul>
    <li class="btn btn-primary"><a routerLink="/user-list" class="text-white">List of Users</a></li>
    <li class="btn btn-primary"><a routerLink="/user-add" class="text-white">Add User</a></li>
  </ul>
</nav> -->

  <!-- <hr>
  <hr> -->

<nav class="mt-5 mx-4">
  <ul>
    <li class="btn btn-primary"><a routerLink="/product-list" class="text-white">Product List</a></li>
    <li class="btn btn-primary mx-4"><a routerLink="/user-add" class="text-white">Add Product</a></li>
  </ul>
</nav>



<router-outlet></router-outlet>
